<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <MudContainer MaxWidth="MaxWidth.Medium">
                        <MudAlert Severity="Severity.Warning" Variant="Variant.Filled">
                            You must be logged in to view this page.
                        </MudAlert>
                        
                        <MudButton Class="mt-2" Color="Color.Primary" Variant="Variant.Filled" Href="/authentication/login">Log In</MudButton>
                    </MudContainer>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
